@media (max-width: 480px) {
    .title {
        font-size: 2rem;
        line-height: 1;
    }
    #menu-container {
        display: inline-block;
        float: right;
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 6px;
        color: #fff;
    }
    header {
        .bg {
            height: 20px;
        }
        .navbar {
            display: none;
        }
    }
    #bmw_01 {
        .head-wrap {
            padding-bottom: 5px;
            .head {
                h1 {
                    font-size: 2rem;
                    margin-top: 35px;
                    span {
                        padding: 0px 10px;
                    }
                }
                .subtitle {font-size: 1.8rem;}
                .phone {display: none;}
            }
        }
        .odc-wrap {
            .odc {
                background-image: none;
                .car {
                    width: 100%;
                    margin: 0;
                    height: 165px;
                    background-position: center bottom;
                }
                .offer {
                    width: 95%;
                    margin: 0 auto;
                    display: block;
                    position: initial;
                    float: none;
                    border: 5px solid #dfc90b;
                    padding: 10px 20px;
                    .p01 {
                        font-size: 1.8rem;
                        text-align: center;
                    }
                    .p02 {
                        font-size: 1.2rem;
                        text-align: center;
                    }
                    form {
                        input {
                            width: 100%;
                            font-size: 1rem;
                        }
                        .button-wrap {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #bmw_02 {
        .bullets-wrap {
            height: auto;
            width: 100%;
            .bullets {
                ul {
                    li {
                        font-size: 1rem;
                        line-height: 2;
                        margin-left: 0 !important;
                        span {
                            padding-left: 15px;
                        }
                        div {
                            width: 50px;
                            font-size: 1.5rem;
                            line-height: 2;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
    }
    #bmw_03 {
        height: initial;
        .bmw-car {
            height: initial;
            background: none;
            .item {
                position: inherit;
                text-align: left;
                padding-left: 15px;
                margin: 15px 0;
                p {
                    font-size: 1.5rem;
                    font-weight: 100;
                }
                a {
                    font-size: 1.3rem;
                }
                &:after {display: none;}
            }
        }
    }
    #bmw_04 {
        .title {
            margin-top: 0;
            margin-bottom: 0;
        }
        .blocks {
            padding: 25px 0;
            .item {
                margin-top: 0;
            }
            .frame {
                border: 5px solid #fff;
                padding: 15px;
                margin: 20px 0;
                .p01 {
                    font-size: 1.7rem;
                }
                .p02 {
                    font-size: 1rem;
                    br {display: none;}
                }
                a {
                    font-size: 1.2rem;
                    width: 100%;
                    display: block;
                    text-align: center;
                }
                &:after {
                    display: none;
                }
            }
        }
    }
    #bmw_05 {
        .subtitle {
            font-size: 1.2rem;
            margin: 15px auto;
            padding: 0 15px;
            font-weight: 100;
            text-transform: initial;
            br {display: none;}
        }
        .blocks {
            .item {
                margin: 15px 0;
                p {
                    font-size: 1.2rem;
                    padding: 0 15px;
                    br {display: none;}
                }
            }
        }
    }
    #bmw_06 {
        background: none;
        .subtitle {
            margin-bottom: 30px;
        }
        .case {
            height: initial;
            .left {
                .image {
                    height: 240px;
                }
            }
            .right {
                height: initial;
                box-shadow: none;
                .p03 {
                    span {
                        br {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    #bmw_07 {
        .bullets {
            .item {
                 margin-bottom: 20px;
                .block {
                    min-height: 80px;
                    .wrap {
                        height: 80px;
                        p {
                            padding-left: 100px;
                            font-size: 1.3rem;
                            padding-left: 100px;
                            br {display: none;}
                            span {font-size: 1.3rem;}
                        }
                    }
                }
            }
        }
    }
    #bmw_08 {
        margin-bottom: 30px;
        .odc-wrap {
            .odc {
                background-image: none;
                .car {
                    width: 100%;
                    margin: 0;
                    height: 165px;
                    background-position: center bottom;
                }
                .offer {
                    width: 95%;
                    margin: 0 auto;
                    display: block;
                    position: initial;
                    float: none;
                    border: 5px solid #dfc90b;
                    padding: 10px 20px;
                    .p01 {
                        font-size: 1.8rem;
                        text-align: center;
                    }
                    .p02 {
                        font-size: 1.2rem;
                        text-align: center;
                    }
                    form {
                        input {
                            width: 100%;
                            font-size: 1rem;
                        }
                        .button-wrap {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #bmw_09 {
        #map {
            height: 50vh;
        }
    }
    footer {
        text-align: center;
        img, .phone {
            float: none;
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .title {font-size: 2rem;}
    #menu-container {
        display: inline-block;
        float: right;
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 6px;
        color: #fff;
    }
    header {
        .bg {
            height: 20px;
        }
        .navbar {
            display: none;
        }
    }
    #bmw_01 {
        .head-wrap {
            padding-bottom: 5px;
            .head {
                h1 {
                    font-size: 2rem;
                    margin-top: 35px;
                    span {
                        padding: 0px 10px;
                    }
                }
                .subtitle {font-size: 1.8rem;}
                .phone {display: none;}
            }
        }
        .odc-wrap {
            .odc {
                background-image: none;
                .car {
                    width: 100%;
                    margin: 0;
                    height: 165px;
                    background-position: center bottom;
                }
                .offer {
                    width: 95%;
                    margin: 0 auto;
                    display: block;
                    position: initial;
                    float: none;
                    border: 5px solid #dfc90b;
                    padding: 10px 20px;
                    .p01 {
                        font-size: 1.8rem;
                        text-align: center;
                    }
                    .p02 {
                        font-size: 1.2rem;
                        text-align: center;
                    }
                    form {
                        input {
                            width: 100%;
                            font-size: 1rem;
                        }
                        .button-wrap {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #bmw_02 {
        .bullets-wrap {
            height: auto;
            width: 100%;
            .bullets {
                ul {
                    li {
                        font-size: 1rem;
                        line-height: 2;
                        margin-left: 0 !important;
                        span {
                            padding-left: 15px;
                        }
                        div {
                            width: 50px;
                            font-size: 1.5rem;
                            line-height: 2;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
    }
    #bmw_03 {
        height: initial;
        .bmw-car {
            height: initial;
            background: none;
            .item {
                position: inherit;
                text-align: left;
                padding-left: 15px;
                margin: 15px 0;
                p {
                    font-size: 1.5rem;
                    font-weight: 100;
                }
                a {
                    font-size: 1.3rem;
                }
                &:after {display: none;}
            }
        }
    }
    #bmw_04 {
        .title {
            margin-top: 0;
            margin-bottom: 0;
        }
        .blocks {
            padding: 25px 0;
            .item {
                margin-top: 0;
            }
            .frame {
                border: 5px solid #fff;
                padding: 15px;
                margin: 20px 0;
                .p01 {
                    font-size: 1.7rem;
                }
                .p02 {
                    font-size: 1rem;
                    br {display: none;}
                }
                a {
                    font-size: 1.2rem;
                    width: 100%;
                    display: block;
                    text-align: center;
                }
                &:after {
                    display: none;
                }
            }
        }
    }
    #bmw_05 {
        .subtitle {
            font-size: 1.2rem;
            margin: 15px auto;
            padding: 0 15px;
            font-weight: 100;
            text-transform: initial;
            br {display: none;}
        }
        .blocks {
            .item {
                margin: 15px 0;
                p {
                    font-size: 1.2rem;
                    padding: 0 15px;
                    br {display: none;}
                }
            }
        }
    }
    #bmw_08 {
        margin-bottom: 30px;
        .odc-wrap {
            .odc {
                background-image: none;
                .car {
                    width: 100%;
                    margin: 0;
                    height: 165px;
                    background-position: center bottom;
                }
                .offer {
                    width: 95%;
                    margin: 0 auto;
                    display: block;
                    position: initial;
                    float: none;
                    border: 5px solid #dfc90b;
                    padding: 10px 20px;
                    .p01 {
                        font-size: 1.8rem;
                        text-align: center;
                    }
                    .p02 {
                        font-size: 1.2rem;
                        text-align: center;
                    }
                    form {
                        input {
                            width: 100%;
                            font-size: 1rem;
                        }
                        .button-wrap {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #bmw_09 {
        #map {
            height: 50vh;
        }
    }
    footer {
        text-align: center;
        img, .phone {
            float: none;
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .title {font-size: 3rem;}
    #menu-container {
        display: inline-block;
        float: right;
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 6px;
        color: #fff;
    }
    header {
        .bg {
            height: 30px;
        }
        .navbar {
            display: block;
            .tablet-none {
                display: none;
            }
        }
    }
    #bmw_01 {
        padding-bottom: 30px;
        .head-wrap {
            padding-bottom: 5px;
            .head {
                h1 {
                    font-size: 3rem;
                    margin-top: 60px;
                    span {
                        padding: 0px 10px;
                    }
                }
                .subtitle {font-size: 3rem;}
                .phone {display: none;}
            }
        }
        .odc-wrap {
            .odc {
                background-image: none;
                .car {
                    display: none;
                    width: 100%;
                    margin: 0;
                    height: 165px;
                    background-position: center bottom;
                }
                .offer {
                    width: 60%;
                    margin: 0 auto;
                    display: block;
                    position: initial;
                    float: none;
                    border: 5px solid #dfc90b;
                    padding: 10px 20px;
                    .p01 {
                        font-size: 2rem;
                        text-align: center;
                    }
                    .p02 {
                        font-size: 1.2rem;
                        text-align: center;
                    }
                    form {
                        input {
                            width: 75%;
                            margin: 20px auto 0 auto;
                            display: block;
                            font-size: 1rem;
                        }
                        .button-wrap {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #bmw_02 {
        .bullets-wrap {
            height: auto;
            width: 60%;
            .bullets {
                ul {
                    li {
                        font-size: 1rem;
                        line-height: 2;
                        margin-left: 0 !important;
                        span {
                            padding-left: 15px;
                        }
                        div {
                            width: 50px;
                            font-size: 1.5rem;
                            line-height: 2;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
    }
    #bmw_03 {
        height: initial;
        .bmw-car {
            height: initial;
            background-position: right bottom;
            .item {
                position: inherit;
                text-align: left;
                padding-left: 15px;
                margin: 15px 0;
                p {
                    font-size: 1.5rem;
                    font-weight: 100;
                }
                a {
                    font-size: 1.3rem;
                }
                &:after {display: none;}
            }
        }
    }
    #bmw_04 {
        .title {
            margin-top: -60px;
        }
        .blocks {
            .item {
                width: 33.333%;
                p {
                    font-size: 1.4rem;
                    font-weight: 100;
                    span {
                        font-size: 1rem;
                    }
                }
            }
            .frame {
                &:after {
                    display: none;
                }
            }
        }
    }
    #bmw_05 {
        .subtitle {
            font-size: 1.2rem;
            margin: 15px auto;
            padding: 0 15px;
            font-weight: 100;
            text-transform: initial;
            br {display: none;}
        }
        .blocks {
            .item {
                width: 50%;
                margin: 15px 0;
                p {
                    font-size: 1.2rem;
                    padding: 0 15px;
                    br {display: none;}
                }
            }
        }
    }
    #bmw_08 {
        margin-bottom: 30px;
        .odc-wrap {
            .odc {
                background-image: none;
                .car {
                    display: none;
                    width: 100%;
                    margin: 0;
                    height: 165px;
                    background-position: center bottom;
                }
                .offer {
                    width: 60%;
                    margin: 0 auto;
                    display: block;
                    position: initial;
                    float: none;
                    border: 5px solid #dfc90b;
                    padding: 10px 20px;
                    .p01 {
                        font-size: 2rem;
                        text-align: center;
                    }
                    .p02 {
                        font-size: 1.2rem;
                        text-align: center;
                    }
                    form {
                        input {
                            width: 75%;
                            margin: 20px auto 0 auto;
                            display: block;
                            font-size: 1rem;
                        }
                        .button-wrap {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #bmw_09 {
        #map {
            height: 50vh;
        }
    }
    footer {
        text-align: center;
        img, .phone {
            float: none;
        }
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .title {font-size: 3rem;}
    #menu-container {
        display: inline-block;
        float: right;
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 6px;
        color: #fff;
    }
    header {
        .bg {
            height: 30px;
        }
        .navbar {
            display: block;
            .tablet-none {
                display: none;
            }
        }
    }
    #bmw_01 {
        padding-bottom: 30px;
        .head-wrap {
            padding-bottom: 5px;
            .head {
                h1 {
                    font-size: 3rem;
                    margin-top: 60px;
                    span {
                        padding: 0px 10px;
                    }
                }
                .subtitle {font-size: 3rem;}
                .phone {display: none;}
            }
        }
        .odc-wrap {
            .odc {
                background-image: none;
                .car {
                    display: none;
                    width: 100%;
                    margin: 0;
                    height: 165px;
                    background-position: center bottom;
                }
                .offer {
                    width: 60%;
                    margin: 0 auto;
                    display: block;
                    position: initial;
                    float: none;
                    border: 5px solid #dfc90b;
                    padding: 10px 20px;
                    .p01 {
                        font-size: 2rem;
                        text-align: center;
                    }
                    .p02 {
                        font-size: 1.2rem;
                        text-align: center;
                    }
                    form {
                        input {
                            width: 75%;
                            margin: 20px auto 0 auto;
                            display: block;
                            font-size: 1rem;
                        }
                        .button-wrap {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #bmw_02 {
        .bullets-wrap {
            height: auto;
            width: 60%;
            .bullets {
                ul {
                    li {
                        font-size: 1rem;
                        line-height: 2;
                        margin-left: 0 !important;
                        span {
                            padding-left: 15px;
                        }
                        div {
                            width: 50px;
                            font-size: 1.5rem;
                            line-height: 2;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
    }
    #bmw_03 {
        height: initial;
        .bmw-car {
            height: initial;
            background-position: right bottom;
            .item {
                position: inherit;
                width: 60%;
                text-align: left;
                margin: 0 !important;
                &:after {display: none;}
            }
        }
    }
    #bmw_04 {
        .title {
            margin-top: -60px;
        }
        .blocks {
            .frame {
                margin: 30px auto 70px auto;
                &:after {
                    display: none;
                }
            }
        }
    }
    #bmw_05 {
        .subtitle {
            font-size: 1.2rem;
            margin: 15px auto;
            padding: 0 15px;
            font-weight: 100;
            text-transform: initial;
            br {display: none;}
        }
        .blocks {
            .item {
                margin: 15px 0;
                p {
                    font-size: 1.2rem;
                    padding: 0 15px;
                    br {display: none;}
                }
            }
        }
    }
    #bmw_08 {
        margin-bottom: 30px;
        .odc-wrap {
            .odc {
                background-image: none;
                .car {
                    display: none;
                    width: 100%;
                    margin: 0;
                    height: 165px;
                    background-position: center bottom;
                }
                .offer {
                    width: 60%;
                    margin: 0 auto;
                    display: block;
                    position: initial;
                    float: none;
                    border: 5px solid #dfc90b;
                    padding: 10px 20px;
                    .p01 {
                        font-size: 2rem;
                        text-align: center;
                    }
                    .p02 {
                        font-size: 1.2rem;
                        text-align: center;
                    }
                    form {
                        input {
                            width: 75%;
                            margin: 20px auto 0 auto;
                            display: block;
                            font-size: 1rem;
                        }
                        .button-wrap {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #bmw_09 {
        #map {
            height: 50vh;
        }
    }
}